absl-py==0.11.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828496740/work
astor==0.8.1
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
audioread==2.1.9
Babel==2.9.0
beautifulsoup4==4.9.3
bert-for-tf2==0.14.7
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blis==0.4.1
brotlipy==0.7.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1606255098796/work
chardet @ file:///tmp/build/80754af9/chardet_1605303175790/work
click==7.1.2
conda==4.9.2
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018143336/work
cryptography @ file:///tmp/build/80754af9/cryptography_1607540682535/work
cycler==0.10.0
cymem==2.0.4
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
dm-tree==0.1.5
docutils==0.16
editdistance==0.5.3
entrypoints==0.3
fairseq==0.10.0
filelock==3.0.12
Flask==1.1.2
Flask-PyMongo==2.3.0
future==0.18.2
gast==0.4.0
gin-config==0.3.0
google-api-core==1.23.0
google-api-python-client==1.12.6
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-cloud-bigquery==2.4.0
google-cloud-core==1.4.3
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
h5py==2.10.0
httplib2==0.18.1
hydra-core==1.0.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.9.0
imageio-ffmpeg==0.4.2
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
importlib-resources==3.3.0
iniconfig==1.1.1
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1606148976284/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
kaggle==1.5.9
Keras==2.2.4
Keras-Applications==1.0.8
keras-contrib==2.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014557000/work
librosa==0.8.0
llvmlite==0.34.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1603373816490/work
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
moviepy==1.0.3
murmurhash==1.0.4
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914804165/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx==2.5
nltk==3.5
notebook @ file:///tmp/build/80754af9/notebook_1601501581489/work
numba==0.51.2
numpy==1.19.4
olefile==0.46
omegaconf==2.0.5
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
packaging @ file:///tmp/build/80754af9/packaging_1606930849755/work
pandas==1.1.4
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120937332/work
params-flow==0.8.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1603822238230/work
plac==1.1.3
pluggy==0.13.1
pooch==1.2.0
portalocker==2.0.0
preshed==3.0.4
proglog==0.1.9
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
promise==2.3
prompt-toolkit==1.0.15
proto-plus==1.11.0
protobuf==3.13.0
psutil==5.7.3
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
py==1.9.0
py-cpuinfo==7.0.0
py-params==0.9.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1607368905949/work
pymongo==3.11.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1606517880428/work
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141725711/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305763431/work
pytest==6.1.2
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.4
pyvi==0.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.11.13
requests @ file:///tmp/build/80754af9/requests_1606691187061/work
resampy==0.2.2
rsa==4.6
ruamel-yaml==0.15.87
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sentence-transformers==0.3.9
sentencepiece==0.1.91
seqeval==0.0.5
simplegeneric==0.8.1
six @ file:///tmp/build/80754af9/six_1605205335545/work
sklearn-crfsuite==0.3.6
slugify==0.0.1
snowballstemmer==2.0.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
spacy==2.3.2
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==1.0.3
tabulate==0.8.7
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.3.0
tf-slim==1.1.0
thinc==7.4.1
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.9.3
toml==0.10.2
torch==1.7.0
torchtext==0.4.0
torchvision==0.3.0
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm @ file:///tmp/build/80754af9/tqdm_1607369919789/work
traitlets==4.3.3
transformers==3.5.1
typeguard==2.10.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
vectorhub==1.0.6
wasabi==0.8.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1605475531705/work
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
